.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
*{
    transition: .3s;
}
body{
    background: $clr-bg-light;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
    height: auto;
    transition: .3s;
}

// .title{
//     font-size: ;
//     font-family: ;
//     line-height: ;
//     color: ;
// }

// .subtitle{
//     font-size: ;
//     font-family: ;
//     line-height: ;
//     color: ;
// }

.btn{
    padding: 12px 30px;
    color: $clr-btn-foreground;
    background: $clr-btn-background;
    border-radius: 14px;
    transition: .3s;
    font-weight: 600;
}
.btn:hover{
    background: $clr-btn-background-hover;
}



