$primary-clr-light: #F2F2F7;
$primary-clr-dark: #2B2633;
$primary-accent: #F1654F;
$clr-menu-hover: #86A1C0;
$clr-bg-light: #E7E7ED;
$clr-bg-dark: #352D44;
$clr-input-light: #fff;
$clr-input-dark: #352F3E;
$clr-dropdown-light: #F8F8FF;
$clr-dropdown-dark: #2B2633;
$clr-text-light: #fff;
$clr-text-dark: #000;
$clr-text-secondary: #818C99;
$clr-icon-copy: #8C8AAC;
$clr-icon-copy-white: #fff;
$clr-btn-foreground: #fff;
$clr-btn-background: #F1654F;
$clr-divider-light: #D1D2E2;
$clr-divider-light: #3F3F3F;
