@import 'vars';
@import 'global';
@import 'fonts';

.header {
    margin-top: 44px;
    margin-bottom: 60px;
    &__wrapper {
        height: 44px;
        display: flex;
        width: 100%;
        justify-content:space-between;
        align-items: center;
    }

    // .header__logo

    &__logo {
        display: flex;
        align-items: center;
    }

    .logo{
        margin-right: 28px;
    }
    .themes{
        width: 56px;
        height: 27px;
        position: relative;
        cursor: pointer;
        border-radius: 14px;
        background-color: #FCFCFC;
        border: 1px solid #EBECEE;
        padding: 3.5px 4.5px;
        display: flex;
        justify-content: space-between;
        &__switch{
            position: absolute;
            top: 4px;
            right: 5px;
            width: 18px;
            height: 18px;
            background: #FBE8CB;
            border: 2px solid #FBB955;
            border-radius: 50%;
            transition: .3s;
            &_active{
                left: 5px;
                background: #99C1E7;
                border: 2px solid #BCD6EE;
            }
        }
    }
    .themes_active{
        background-color: $clr-input-dark;
        border: 1px solid #475264;
    }

    // .header__nav

    &__nav {
        
    }

    // .header__list

    &__list {
        display: flex;
    }

    // .header__list-item

    &__list-item {
        margin-right: 60px;
        padding: 4.5px 10px;
    }
    &__list-item:last-child {
        margin-right: 0px;
    }
    &__list-item a{
        color: $clr-text-secondary;
    }
    &__list-item:hover a{
        color: $clr-menu-hover;
    }
    &__list-item_active {
        a {
            color: $primary-clr-dark;
        }
        border-bottom: 2px solid $primary-accent;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
    }
    // .header__buttons

    &__buttons {
        display: flex;
    }

    // .header__dropdown

    &__dropdown {
        position: relative;
        margin-right: 13px;
    }
    .new-select::before{
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 12.5px;
        top: 12px;
        
    }
    .new-select::before{
        background: url('../images/BSC.svg') no-repeat;
    }
    &__dropdown-list {
        cursor: pointer;
        background-color: $clr-dropdown-light;
        width: 152px;
        height: 44px;
        border-radius: 14px;
        color: $clr-text-secondary;
        // padding: 0 12px;
        appearance: none;
        
        .new-select {
            border-radius: 14px;
            position: relative;
            height: 100%;
            // border: 1px solid #ced4da;
            padding: 12.5px 37px;
            cursor: pointer;
            user-select: none;
        }
        
        .new-select__list {
            border-radius: 14px;
            position: absolute;
            top: 55px;
            left: 0;
            // border: 1px solid #ced4da;
            cursor: pointer;
            width: 100%;
            z-index: 2;
            background: $clr-dropdown-light;
            user-select: none;
        }
        
        .new-select__list.on {
            display: block;
        }
        
        .new-select__item span {
            display: block;
            padding: 10px 37px;
        }
        .new-select__item span::before{
            content: '';
            display: block;
            width: 25px;
            height: 25px;
            position: absolute;
        }
        .new-select__item[data-value="BSC"] span::before{
            left: 12px;
            top: 9px;
            background: url('../images/BSC.svg') no-repeat;
        }
        .new-select__item[data-value="ETH"] span::before{
            left: 12px;
            top: 45px;
            background: url('../images/ETH.svg') no-repeat;
        }
        .new-select__item[data-value="MATIC"] span::before{
            left: 12px;
            bottom: 2px;
            background: url('../images/MATIC.svg') no-repeat;
        }
        
        .new-select__item span:hover {
            color: $primary-accent;
        }
        
        .new-select:after {
            content: '';
            display: block;
            width: 14px;
            height: 7px;
            position: absolute;
            right: 18px;
            top: 18px;
            background: url('../images/arrow.svg') no-repeat;

            // -webkit-transition: all .27s ease-in-out;
            // -o-transition: all .27s ease-in-out;
            transition: all .27s ease-in-out;
    
            // -webkit-transform: rotate(0deg);
            // -ms-transform: rotate(0deg);
            // -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        
        .new-select.on:after {
            // -webkit-transform: rotate(180deg);
            // -ms-transform: rotate(180deg);
            // -o-transform: rotate(180deg);
                transform: rotate(180deg);
        }
    }


    // .header__dropdown-list-item

    &__dropdown-list-item {
        background-color: $clr-btn-foreground;
        width: 100%;
        color: $clr-text-secondary;
    }

    // .header__button

    &__button {
    }
}
.form {
    margin-bottom: 35px;
    // .form__inner
    &__wrapper,
    &__disclaimer {
        margin: 0 auto;
        max-width: 375px;
        background: $primary-clr-light;
        border-radius: 14px;
    }
    &__wrapper{
        padding: 25px;
        margin-bottom: 34px;
    }
    &__disclaimer{
        display: flex;
        align-items: center;
        padding: 18px;
        margin-bottom: 20px;
        &-icon{
            padding-right: 10px;
        }
    }
    &__wrapper[action="input-parking-connected"],
    &__wrapper[action="input-launchpad-connected"],
    &__wrapper[action="input-partners-connected"]{
        display: none;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    // .form__title

    &__title {
        font-weight: 600;
        line-height: 20px;
        color: $clr-text-dark;
        margin: 0 auto;
        margin-bottom: 12px;
    }

    // .form__input-text
    &__input-copy{
        position: absolute;
        top: 22.5px;
        right: 15px;
        background-color: transparent;
    }
    &__input-text {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: $clr-text-dark;
        width: 100%;
        height: 64px;
        border-radius: 14px;
        padding: 0 20px;
        margin-bottom: 17px;
    }
    &__input-text::placeholder{
        opacity: .3;
    }
    &__input-text-icon{
        position: absolute;
        top: 23px;
        right: 23px;
        width: 20px;
        height: 20px;
    }


    // .form__button

    &__button {
        position: relative;
        font-weight: 600;
        font-size: 17px;
        height: 60px;
        margin-bottom: 22px;
        &-icon{
            padding-top: 2px;
            margin-right: 10px;
        }
    }
    &__button:disabled{
        color: rgba($color: #fff, $alpha: 0.5);
    }
    &__button:disabled:hover{
        background-color: $primary-accent;
    }

    // .form__parameters

    &__parameters {
        font-size: 13px;
        line-height: 16px;
        color: $clr-text-secondary;
        display: flex;
        justify-content: space-between;
    }
    &__parameters span {
        margin-bottom: 17px;
    }

    // .form__line

    &__line {
        width: 100%;
        height: 1px;
        background: $clr-divider-light;
        margin-bottom: 17px;
    }

    // .form__address

    &__address {
        font-size: 11px;
        line-height: 14px;
    }
    &__address {
        position: relative;
        font-size: 11px;
        line-height: 14px;
        &-title{
            color: $clr-text-secondary;
        }    
        &-wallet{
            color: $clr-text-dark;
        }
        &-copy{
            position: absolute;
            top:7px;
            right: 0;
            background-color: transparent;
        }
    }
}
.footer {
    text-align: center;
    font-size: 13px;
    line-height: 26px;
    // .footer__links    
    &__links {
    }
    
    // .footer__link
    
    &__link {
        color: $clr-text-dark;
        transition: .3s;
    }
    &__link:hover {
        color: $clr-menu-hover;
    }

    // .footer__copy

    &__copy {
    }
}
